<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.br.fullgauge.sitradmobile.crypto"
  version="1.0.6">

	<name>Crypto</name>
	 
	<description>
		This plugin allows selection of multiple images from the camera roll / gallery in a phonegap app
	</description>
	
	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>  

	<js-module src="www/fullgauge.cripto.js" name="Crypto">
		<clobbers target="Crypto" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Crypto">
				<param name="android-package" value="com.br.fullgauge.sitradmobile.Crypto"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>
	
	<!--	
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		    <activity android:label="@string/multi_app_name" android:name="com.synconset.MultiImageChooserActivity" android:theme="@android:style/Theme.Holo.Light">
            </activity>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
		    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>
		-->

		<source-file src="src/android/com/br/fullgauge/sitradmobile/Crypto.java" target-dir="src/com/br/fullgauge/sitradmobile" />
		<source-file src="src/android/com/br/fullgauge/sitradmobile/Base64.java" target-dir="src/com/br/fullgauge/sitradmobile" />
		<source-file src="src/android/com/br/fullgauge/sitradmobile/FgCrypto.java" target-dir="src/com/br/fullgauge/sitradmobile" />
		 <!-- <source-file src="src/android/com/synconset/ImagePicker/FakeR.java" target-dir="src/br/com/fullgauge" /> --> 
		
<!--		<source-file src="src/android/Library/src/ImageFetcher.java" target-dir="src/com/synconset"/> -->
<!--		<source-file src="src/android/Library/src/MultiImageChooserActivity.java" target-dir="src/com/synconset"/> -->
	</platform>
</plugin>
